<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Way 1</title>
</head>
<body>
<br/>
Way 1: use ngModel to bind variables, then call a function from Submit button
<form (ngSubmit)="getCurrentWeather()">
    City: <input name="lat" [(ngModel)]="lat">
    State: <input name="lon" [(ngModel)]="lon">
    <button type="submit">Submit</button>

</form>

<br/>
Current weather: <br/>
Temp: {{temperature | number:'2.1'}}
Pressure: {{pressure | number: '4.1'}}
Humidity : {{humidity}}%
<hr/>
</body>
</html>